html, body {
	box-sizing: border-box;
}

header .nav li {
	margin-right: 1rem;

}

section{
	padding: 4rem 0;
}

.contents .content-items{
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.contents .content-items .item-padding {
	width: 33.33%;
	padding: 2rem;
}

@media screen and (max-width: 992px) {
	.contents .content-items .item-padding {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.contents .content-items .item-padding {
		width: 100%;
	}
}

.contents .content-items .item-padding .item img {
	width: 100%;
	height: auto;
}

.contents .content-items .item-padding .item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.35);
	padding: 1rem;
}

.add {
	background-color: yellow;
}

.buy {
	background-color: orange;
}


